NET "up" LOC = P23;
NET "down" LOC = P21;
NET "right" LOC = P16;
NET "left" LOC = P14;
NET "Switch" LOC = P11;
NET "release" LOC = P9;
NET "o_up" LOC = P24;
NET "o_down" LOC = P22;
NET "o_right" LOC = P17;
NET "o_left" LOC = P15;
NET "o_switch" LOC = P12;
NET "o_release" LOC = P10;
NET "LED[5]" LOC = P75;
NET "LED[4]" LOC = P78;
NET "LED[3]" LOC = P79;
NET "LED[2]" LOC = P80;
NET "LED[1]" LOC = P81;
NET "LED[0]" LOC = P82;
